

 <a id="backtotop" href="#top"><i class="fa fa-chevron-up"></i></a>


    <script type="text/javascript" src="/jQuery/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="/javascript/jquery.min.js"></script>
    <script type="text/javascript" src="/javascript/jquery.ajaxchimp.min.js"></script>
    <script type="text/javascript" src="/javascript/jquery.magnific-popup.min.js"></script>
    <script type="text/javascript" src="/javascript/jquery.nice-select.min.js"></script>
    <script type="text/javascript" src="/javascript/jquery.sticky.js"></script>
    <script  type="text/javascript" src="/javascript/jquery.mobilemenu.js"></script>   
    <script type="text/javascript" src="/js/bootstrap.js"></script>

  
   <script type="text/javascript" src="/javascript/ion.rangeSlider.js"></script>


   <script type="text/javascript" src="/javascript/main.js"></script>
   <script type="text/javascript" src="/javascript/owl.carousel.min.js"></script>
   <script type="text/javascript" src="/javascript/parallax.min.js"></script>


   <script type="text/javascript" src="/javascript/jquery.easing.1.3.js"></script>
   <script type="text/javascript" src="/javascript/jquery.waypoints.min.js"></script>
  

 
   <script type="text/javascript" src="/javascript/aos.js"></script>
   <script type="text/javascript" src="/javascript/jquery.animateNumber.min.js"></script>
   <script type="text/javascript" src="/javascript/bootstrap-datepicker.js"></script>
   <script type="text/javascript" src="/javascript/jquery.timepicker.min.js"></script>
   <script type="text/javascript" src="/javascript/scrollax.min.js"></script>
   



 <script src="/javascript/jquery.backtotop.js"></script>
<script type="text/javascript" src="/javascript/javascript.js"></script>


</body>
</html>
