<!DOCTYPE html>
<html lang="zxx" class="no-js">

<head>
	<!-- Mobile Specific Meta -->
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<!-- Favicon-->
	<link rel="shortcut icon" href="img/fav.png">
	<!-- Author Meta -->
	<meta name="author" content="CodePixar">
	<!-- Meta Description -->
	<meta name="description" content="">
	<!-- Meta Keyword -->
	<meta name="keywords" content="">
	<!-- meta character set -->
	<meta charset="UTF-8">
	<!-- Site Title -->
    <title>Holmes Real Estate</title>
    

    <link rel="stylesheet" type="text/css" href="/style/linearicons.css">
    <link rel="stylesheet" type="text/css" href="/style/nice-select.css">
    <link rel="stylesheet" type="text/css" href="/style/ion.rangeSlider.css">
    <link rel="stylesheet" type="text/css" href="/style/ion.rangeSlider.skinFlat.css">


    <link rel="stylesheet"  type="text/css" href="/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/style/owl.carousel.css">
  
    <link rel="stylesheet" type="text/css" href="/style/availability-calendar.css">
    <link rel="stylesheet" type="text/css" href="/style/framework.css">

    <link rel="stylesheet" type="text/css" href="/style/jquerysctipttop.css">
   
    <link rel="stylesheet" type="text/css" href="/style/magnific-popup.css">
 





    <link rel="stylesheet" href="/style/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="/style/themify-icons.css" type="text/css">
    <link rel="stylesheet" href="/style/jquery-ui.min.css" type="text/css">
    <link rel="stylesheet" href="/style/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="/style/slicknav.min.css" type="text/css">

    <link rel="stylesheet" href="/style/open-iconic-bootstrap.min.css">
    <link rel="stylesheet" href="/style/animate.css">
    <link rel="stylesheet" href="/style/owl.theme.default.min.css">
    <link rel="stylesheet" href="/style/magnific-popup.css">

    <link rel="stylesheet" href="/style/flaticon.css">
    <link rel="stylesheet" href="/style/icomoon.css">

    <link rel="stylesheet" href="/style/aos.css">

    <link rel="stylesheet" href="/style/ionicons.min.css">

    <link rel="stylesheet" href="/style/bootstrap-datepicker.css">
    <link rel="stylesheet" href="/style/jquery.timepicker.css">

    
    <link rel="stylesheet" type="text/css" href="/style/style.css">
    <link rel="stylesheet" type="text/css" href="/style/style2.css">
    <link rel="stylesheet" type="text/css" href="/style/main.css">
   
</head>
<body  id="top">